<h1>Welcome</h1>
<<<<<<< HEAD
<%= link_to "Articles", articles_path %>
<%= link_to "Tags", tags_path %>
=======
<%= link_to "Articles", articles_path %>
>>>>>>> 1df67ef37c1166f17792f5db46c2fea5809464b1
